//
   Created by fabiancote on 7/29/14.
h1 Crear docente
h2 #{programa.nombre}
h3 #{postgrado.nombre}
h4 #{pensum.nombre}

h5 Asignatura:
    strong #{asignatura.nombre}

form(method="POST", action="/docente/add")
    input(type="hidden", name="asignatura", value="#{asignatura.id}")
    input(type="hidden", name="programa", value="#{programa.id}")
    legend
        | nombres
        input(type="text", name="nombres", autocomplete="off", required)
    legend
        | apellidos
        input(type="text", name="apellidos", autocomplete="off", required)
    legend
        | tipo de documento
        select(name="tipodoc")
            option(value="Cedula de ciudadania") Cedula de ciudadania
            option(value="Pasaporte") Pasaporte
            option(value="Cedula de Extranjeria") Cedula de Extranjeria
    legend
        | numero de documento
        input(type="text", name="numdoc", autocomplete="off", required)
    legend
        | Email
        input(type="email", name="email", autocomplete="off", required)
    legend
        | telefono
        input(type="number", name="telefono", autocomplete="off", required)
    input(type="submit", value="crear")

br
