//
   Created by Cesar Fabian Cote Guerrero - Universidad Francisco de Paula Santander - 2014.
h1 Programa: #{programa.nombre}
h1 Postgrado: #{postgrado.nombre}
h2 paso #2: El pensum se creo con los siguientes datos.

p nombre del pensum: #{pensum.nombre}
p fecha de creacion:#{pensum.fecha}
p numero de resolucion del pensum: #{pensum.resolucion}
br
a(href="/asignatura/new/#{pensum.id}") Paso #3: Ingresar Asignaturas del pensum.

br
