//
   Created by fabiancote on 7/31/14.
h1 programa view

h2 Programa: #{programa.nombre}

h2 director del programa
-if (!director){
    span Este programa no tiene un director asignado
    br
    a(href="/director/#{programa.id}/create") Asignar Director
-}else{
    span Nombre: #{datos.nombres} #{datos.apellidos}
    br
    span Email: #{datos.email}
    br
    span Telefono: #{datos.telefono}
    br

    a(href="/director/#{programa.id}/create") Cambiar Director

-}


br
br
a(href="../") Regresar
br