//
   Created by fabiancote on 8/1/14.
extends ../layout
block content
    .navbar.navbar-inverse.navbar
        .container
            .navbar-header
                a(class="navbar-brand", href="#") Sistema EspSoft
                button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#navbar-main")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Postgrados
                    li
                        a(href="#") UFPS
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/logout")
                            i.fa.fa-power-off
                            | &nbsp; Cerrar Sesion
    .container
        ul.breadcrumb
            li: a(href="/director/profile") Inicio
            li.active Preinscripcion
        .row
            .margin-auto
                p.lead.text-center
                    strong Solicitud de Preinscricion al postgrado
                    span.text-primary &nbsp; #{postgrado.nombre} -
                    strong.text-primary &nbsp; #{programa.nombre}
                p.lead.text-center
                    span.text-info Paso #1:
                    span.text-muted &nbsp; Informacion de la solicitud de preinscripcion
                .well.bs-component
                    .form-horizontal
                        faildset
                            legend

                            .form-group
                                label(for="nombre", class="col-lg-2 control-label") Fecha de Inscripcion
                                .col-lg-10
                                    h2.text-primary
                                        i.fa.fa-calendar
                                        | &nbsp; #{inscrito.fecha_incripcion.toISOString().slice(0, 10)}

                            .form-group
                                label(for="documento", class="col-lg-2 control-label") Identidad
                                .col-lg-10
                                    p.lead
                                        span #{datos.documento}
                                        br
                                        span.text-muted #{datos.tipo_documento}


                            .form-group
                                label(for="nombre", class="col-lg-2 control-label") Nombre
                                .col-lg-10
                                    p.lead #{datos.nombres} #{datos.apellidos}


                            -if (inscrito.estado == 0){
                                .form-group
                                    label(for="nombre", class="col-lg-2 control-label") Estado
                                    .col-lg-10
                                        p.label.label-warning Preinscrito
                            -}
                            -if (inscrito.estado == 1){
                                .form-group
                                    label(for="nombre", class="col-lg-2 control-label") Estado
                                    .col-lg-10
                                        p.lead.text-success Inscrito
                                .form-group
                                    label(for="nombre", class="col-lg-2 control-label") Fecha de pago
                                    .col-lg-10
                                        p.label.label-success.font-size-fix-label
                                            i.fa.fa-calendar
                                            | &nbsp; #{inscrito.fecha_pago.toISOString().slice(0, 10)}
                            -}

                            -if (inscrito.estado == 1){
                                legend
                                p.lead.text-success Matricular al inscrito en cohorte

                                form(method="POST", action="/cohorte/register").form-group
                                    input(type="hidden", name="inscrito", value="#{inscrito.id}")
                                    label(for="cohorte", class="col-lg-2 control-label") Cohorte
                                    .col-lg-10
                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-gavel
                                            select#tipo(name="cohorte").form-control
                                                each  cohorte in cohortes
                                                    option(value="#{cohorte.id}") #{cohorte.nombre}

                                        br

                                        button(type="submit").btn.btn-success
                                            i.fa.fa-pencil-square-o
                                            | &nbsp; Matricular Inscrito


                            -}


                            legend
                            a(href="/postgrado/#{postgrado.id}").btn.btn-default.margin-right-1
                                i.fa.fa-chevron-circle-left
                                | &nbsp; Regresar

                            -if (inscrito.estado == 0){
                                a(href="/preinscripcion/#{inscrito.id}/report").btn.btn-primary
                                    | &nbsp; Reportar Pago &nbsp;
                                    i.fa.fa-arrow-right
                            -}

